<%= form_for(@vol) do |f| %>
  <% if @vol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vol.errors.count, "error") %> prohibited this vol from being saved:</h2>

      <ul>
      <% @vol.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div align="center"><br>
 <div class="field">
   <%= f.label 'username' %><br />
    <%= f.text_field :myuserid, :placeholder => "ASCO email address" %>
  </div>
  <div class="field">
   <%= f.label 'Password' %><br />
    <%= f.password_field :mypass, :placeholder => "Benchpress password" %>
  </div>
  <div class="field">
    <%= f.label(:mylist, t('DOI list')) %><br />
    <%= f.text_area :mylist, :placeholder => "Paste in the list of DOIs to be updated, in the format of \"JCO/2013/487777\". The items should be separated by spaces or new lines." %>

  <div class="field">
    <%= f.label :volume %><br />
    <%= f.number_field :volume, :placeholder => "ex: 31" %>
  </div>
  <div class="field">
    <%= f.label :issue %><br />
    <%= f.number_field :issue, :placeholder => "ex: 12" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Your Entry to Benchpress", :class => 'btn btn-primary' %>
  </div>
  <p>&nbsp;</p>

</div>
<% end %>
