<p id="notice"><%= notice %></p>

<p>
  <b>Volume:</b>
  <%= @vol.volume %>
</p>

<p>
  <b>Issue:</b>
  <%= @vol.issue %>
</p>


<%= link_to 'Edit', edit_vol_path(@vol) %> |
<%= link_to 'Back', vols_path %>
