


<div align="center">
<b>Title:</b> <%= @mycode.podtitle %><br>
<b>Description:</b> <%= @mycode.description %><br>
<b>Link:</b> <%= @mycode.podlink %>?mobile<br>
<b>Pub Date:</b> <%= @mycode.date.strftime('%B %d, %Y') %><br>
<b>Enclosure - URL:</b> <%= @mycode.podlink %>?mobile<br>
<b>Enclosure - Length:</b> <%= @mycode.bytesize %><br>
<b>Subtitle:</b> <%= @mycode.podtitle %><br>
<b>Summary:</b> <%= @mycode.description %><br>
<b>Duration:</b> <%= @mycode.duration.strftime('%X') %><br>
<b>Keywords:</b> <%= @mycode.keywords %><br>
<b>Author:</b> <%= @mycode.speaker %><br>
</div>
