


<div align="center">
<b>Title:</b> <%= @mycode.podtitle %><br>
<b>Description:</b> <%= @mycode.description %><br>
<b>Link to index page:</b> http://jco.ascopubs.org/site/podcasts/index.xhtml<br>
<b>Enclosure link:</b> <%= @mycode.podlink %><br>
<b>Date:</b> <%= @mycode.date.strftime('%B %d, %Y') %><br>
<b>Subtitle:</b> <%= @mycode.podtitle %><br>
<b>Summary:</b> <%= @mycode.description %><br>
<b>Duration:</b> <%= @mycode.duration.strftime('%X') %><br>
<b>Length</b> <%= @mycode.bytesize %><br>
<b>Author</b> <%= @mycode.speaker %><br>
<b>Keywords</b> <%= @mycode.keywords %><br>
</div>
