<p>&nbsp;</p>
<div align="center">
<h2>Podcast Code Generator</h2>
<strong><%= link_to 'Generate new code here', new_mycode_path %></strong>
<h4>Previously Generated Code</h4>
<p>&nbsp;</p>

<table style="border:1px solid black;">
    <th>&nbsp;&nbsp;</th>
    <th>Speaker</th><th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Date</th>
<% @mycodes.each do |mycode| %>
    <tr>
 
<td>&nbsp;&nbsp;</td>       
<td><%= mycode.speaker %></td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
 <td><%= mycode.date.strftime('%B %e, %Y') %></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td>
<td><%= link_to 'Show', mycode %></td><td>&nbsp;</td>
<td><%= link_to 'Edit', edit_mycode_path(mycode) %></td><td>&nbsp;</td>
 <td><%= link_to 'Delete', mycode, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
    <% end %>
</table>

<br />
</div>
