<%= link_to 'Edit Input', edit_mycode_path(@mycode) %> |
<%= link_to 'Home Page', start_index_path %>

<p id="notice"><%= notice %></p>

<h2>Here is your code:</h2>


<h3>Podcast Data Supplement</h3>

<%=  render 'datasupp'   %>     

<br />
<br />

<h3>Podcast Index and Archive Pages</h3>

<%=  render 'archiveandindexpage' %>

<br />
<br />

<h3>Info for FeedForAll</h3>

<%= render 'feedforall' %>

<br />

<h3>Issue Podcast Box</h3>

<%= render 'issue' %>

<br />
<br />
<br />

<%= link_to 'Edit Input', edit_mycode_path(@mycode) %> |
<%= link_to 'Home Page', start_index_path %>


