<%= form_for(@doi_comparison) do |f| %>
  <% if @doi_comparison.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doi_comparison.errors.count, "error") %> prohibited this doi_comparison from being saved:</h2>

      <ul>
      <% @doi_comparison.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label(:heather, t('Heather\'s list:')) %><br />
    <%= f.text_area :heather, :placeholder => "Paste in Heather's list here. All articles must be separated by spaces or new lines. They must also be five characters long, with the last four digits representing the last four digits of the DOI.               For example: C9999" %>
  </div>

  <div class="field">
    <%= f.label(:hwx, t('HWX list:')) %><br />
    <%= f.text_area :hwx, :placeholder => "Paste in the list from HWX. All articles must be separated by either spaces or new lines. They must also be in their full DOI format.                                   For example: 10.1200/JCO.2013.99.9999" %>
  </div>
  <div class="actions">
    <%= f.submit "Compare these articles"%>
  </div>

<% end %>
