<div align="center">
<h2>Edit your code below</h2>
<%= link_to 'Back to your previous code', @homeright %> | <%= link_to 'Home-right Page', homerights_path %> | <%= link_to 'Journals Home Page', start_index_path %>
</div>

<%= render 'form' %>

<%= link_to 'Show', @homeright %> |
<%= link_to 'Back', homerights_path %>
