<div align="center"><p id="notice"><%= notice %></p>
<br />
<h3 align="center">Your Home_right code:</h3>
<%= link_to 'Edit this code', edit_homeright_path(@homeright) %> |
<%= link_to 'Home-right Page', homerights_path %> 
</div><br />
<br/>
<%=	"<!-- * Begin editable area * -->" %>
<br>

  <%=		"<div>
			<div id=\"home-right-top\">
				<div>
					<a href=\"/content/early/recent?home-right\"><img src=\"/site/includefiles/early-release-button2.jpg\" /></a></div>" %>
					<br />
					<br />
  <%=
					"<div id=\"current_issue\">
								<a href=\"/content/current?home-right\">CURRENT ISSUE HIGHLIGHTS: #{h@homeright.issuedate.strftime('%B %e, %Y')}</a></h4>
						</div>" %>
  <br />
  <br />
  <%=					"
							<!-- IF THERE IS A FEATURED SPECIAL ARTICLE 
					<div class=\"featured_box\">
							<strong>Featured Content</strong><br />
							<a href=\"http://jco.ascopubs.org/content/31/31/3997.abstract\"><em>ASCO Special Article</em>: Recommendations for Human Epidermal Growth Factor Receptor 2 Testing in Breast Cancer: ASCO/CAP Clinical Practice Guideline Update</a> <i>Wolff et al</i></div>
					
			
					 END OF FEATURED SPECIAL ARTICLE //--></div>" %>
					 <br />
					 <br />
  <%=
					"<div class=\"coverlines\"><!-- BEGIN COVERLINES DIV //-->
"%>
<br><br><%="<ul>" %><br>
<% @homeright.regulars.each do |regular| %>

<%=  "<li>
							<a href=\"#{regular.link}\">#{regular.title}</a> <i>#{regular.author}</i></li>
					" %>
<br />

<% regular.editorials.each do |editorial| %>

<%= 

 					"<li class=\"editorial\" style=\"margin:-8px 0px 0px 20px\"> <a href=\"#{editorial.edlink}\">Editorial:</a> <i>#{editorial.edauthor}</i></li>
					" %>

<br />
<% end %>
<% end %>
<%= "</ul>" %>
<br />
<br>
<%= render 'bottom_of_issue' %>

<br />
<br />





