<div align="center"><p id="notice"><%= notice %></p>
<br />
<h3 align="center">Your Home_right code:</h3>
<%= link_to 'Edit this code', edit_homeright_path(@homeright) %> |
<%= link_to 'Home-right Page', homerights_path %> 
</div><br />
<br/>
<%=	"<!-- * Begin editable area * -->" %>
<br>

  <%=		"<table>
				<tbody>
					<tr>
						<td colspan=\"2\">
							<a href=\"/content/early/recent?right\"><img src=\"/site/includefiles/early-release-button2.jpg\" /></a></td>
					</tr>
					<tr>
						<td colspan=\"2\">
							&nbsp;</td>
					</tr>" %>
					<br />
					<br />
  <%=
					"<tr>
						<td colspan=\"2\">
							<h4>
								<a href=\"/content/current?right\">CURRENT ISSUE: #{h@homeright.issuedate.strftime('%B %e, %Y').upcase}</a></h4>
						</td>
					</tr>" %>
  <br />
  <br />
  <%=					"<tr>
						<td colspan=\"2\">
							&nbsp;</td>
					</tr>
							<!-- IF THERE IS A FEATURED SPECIAL ARTICLE 
					<tr>
						<td colspan=\"2\" id=\"featured_article\">
							<strong>Featured Content</strong><br />
							<a href=\"http://jco.ascopubs.org/content/31/31/3997.abstract\"><em>ASCO Special Article</em>: Recommendations for Human Epidermal Growth Factor Receptor 2 Testing in Breast Cancer: ASCO/CAP Clinical Practice Guideline Update</a> <i>Wolff et al</i></td>
					</tr>
					<tr>
						<td colspan=\"2\">
							&nbsp;</td>
					</tr>
					 END OF FEATURED SPECIAL ARTICLE //-->" %>
					 <br />
					 <br />
  <%=
					"<tr>
						<td colspan=\"2\">
							<b><u>HIGHLIGHTS</u></b></td>
					</tr>"  %>
					
<br />
<br />

<% @homeright.regulars.each do |regular| %>

<%=  "<tr>
						<td colspan=\"2\">
							<img height=\"12\" src=\"/icons/misc/arrow_orange.gif\" width=\"14\" /> <a href=\"#{regular.link}\">#{regular.title}</a> <i>#{regular.author}</i></td>
					</tr>" %>
<br />


<% regular.editorials.each do |editorial| %>

<%= 

 					"<tr>
						<td colspan=\"2\">
							&nbsp; <img height=\"12\" src=\"/site/misc/images/arrow_DARKblue.gif\" width=\"14\" /> <a href=\"#{editorial.edlink}\">Editorial:</a> <i>#{editorial.edauthor}</i></td>
					</tr>" %>


<br />
<br />
<% end %>
<% end %>
<br />

<%= render 'bottom_of_issue' %>

<br />
<br />





