<!DOCTYPE html>
<html>
<head>
  <title>Journals Apps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap.css", :media => "screen" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  </body>
</html>